@import 'reset';

//base
@import	'helpers/_base';
@import	'helpers/_placeholder';
//header
@import '_header';
//panel-description
@import '_panel-description';
//speaker
@import '_speakers';

//contact-form
.contact-form{

	margin: 1rem 0;

	.title-form{
		
		font-size: 2rem;
		text-transform: uppercase;
		text-align: center;
		color: #ef7247;
	}

	.form{

		display: flex;
		flex-direction: column;

		label[for]{

			font-weight: bold;
		}

		.field-input{
			
			font-size: 1.5rem;
			margin: .5rem 0;
			box-shadow: 1px 1px 2px #48A3A6;
		}

		.btn{
			
			width: 230px;
			margin: 0 auto;
			padding: 10px;
			text-transform: uppercase;
			border-radius: 5px;
			
			color: #fff;
			background-color: #48A3A6;
		}
	}
}
